* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    transition: all 0.5s ease;
}

body {
    background-color: #dcdcdc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ece8e8;
    padding: 5px;
    width: 500px;
    box-shadow: 2px 2px 1px 1px #00000056;
    border-radius: 15px;

    h1 {
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-weight: 800;
        font-size: 25px;
    }

    p {
        font-size: 16px;
        display: block;
        margin: 0 auto;
        text-align: justify;
        width: 400px;
    }

    img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 80px;
    }

    p {
        font-size: 16px;
        display: block;
        margin: 0 auto;
        text-align: justify;
        width: 400px;
    }
}

.links {    
    align-items: center;
    text-align: center;
    margin: 5px;
    padding-bottom: 5px;


    button {
        width: 40%;
        border: none;
        border-radius: 10px;
        background-color: #0059f3;
        color: #fff;
        font-style: normal;
        font-weight: 700;
        margin: 2px;
        margin-top: 10px;
        padding: 10px;

        a {
            color: #fff;
            text-decoration: none;
        }

        &:hover {
            background-color: #385e9f;
        }
    }
}

.icon {
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
        text-decoration: none;
        margin: 2rem;
        gap: 30px;
        font-size: 2rem;
        font-weight: 700;
        color: #000;
    }

    #icon {
        font-style: italic;
        text-decoration: underline;
        margin: 2px;
        font-size: 1rem;
    }
}