* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2px;
    padding: 10px;
    width: 500px;
    height: 450px;

    p{
        font: 700;
        font-size: 16px;   
        width: 400px;
        margin: 0 auto;
        text-align: justify;
    }
    h2{
        font-size: 20px;
    }
}

.hover-dica:hover {
    .dica {
        opacity: 1;
        transition: all 0.8s ease;
    }

    .hover {
        opacity: 1;
        transition: all 0.8s ease;
    }
}


.hover {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #a80202;
}

.dica {
    opacity: 0;

    margin: 20px;
    border: 2px solid #00b3ff;
    border-radius: 20px;
    height: 150px;
    background-color: rgba(0, 255, 255, 0.159);

    p {
        padding: 2px;
        font-size: 17px;
        font-weight: 600;
        font-style: unset;
        height: 200px;
        width: 200px;
        margin: 0 auto;

    }

    a{
        color: #4400ff;
        text-decoration: none;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}