*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
}

:root{
    --cor-um: #dcdcdc;
    --cor-dois: #dddc;
    --cor-tres: #86e5fa68;

}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.container{
    background-color: var(--cor-um);
    border-radius: 5px;
    border: 1px solid var(--cor-dois);
    margin: 5px;
    padding: 10px;

    p{
        margin: 5px;
        padding: 5px;
        text-align: justify;
    }

    h1,h2{
        text-align: center;
        font-size: 20px ;
    }
}

.hover-dica{
    opacity: 0;
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 250px;
    height: 150px;
    background-color: var(--cor-tres);
    border-radius: 5px;

    p{
        font-size: 16px;
        font-weight: 700;
        transition: all ease 0.7s ;
    }

    a{
        text-decoration: none;
        color: #3806eb;
   }

       &.hover-dica:hover{
        opacity: 1;
    }
}

.border-left{
    opacity: 1;
    border-left: 1px solid blue;
    transition: ease 0.9s;

    &:hover{
        border-left: 5px solid blue;
    }

}