*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
}

body{
    background-color: #dcdcdc;
}

.titulo{
    h1{
        text-align: center;
        margin-bottom: 3rem;
        font-style: italic;
    }
}

.home{
    text-align: center;
    margin: 5px;
    padding: 5px;

    h2{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    p{
        font-size: 20px;
        margin: 5px;
    }
}

.geral-infor{
    text-align: center;
    margin: 5px;
    padding: 5px;

    h2{
        font-size: 2rem;
        font-weight: 700;
        text-decoration: underline;
        text-transform: uppercase;
    }

    p{
        margin: 10px;
        font-size: 20px;
    }

    span{
        color: #047ef9;
        font-size: 20px;
        font-variant: small-caps;
    }
}

.desempenho{
    caption{
        font-size: 20px;
        font-weight: 750;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    table{
        box-shadow: 2px 1px 2px 1px rgba(61, 61, 61, 0.436);
        margin: 0 auto;
        text-align: center;
        border-collapse: collapse;
        width: 70%;
    }

    table,th,td{
        border: 1px solid black;
    }

    th{
        font-size: 18px;
    }

    td{
        font-weight: 700;
        font-style: italic;
        font-size: 16px;
    }

    th,td{
        padding: 8px;
    }

    i{
        transition: all 0.5s ease;
        opacity: 0;
    }

    .hover-td{
        &:hover{
            background-color: #047ef9;
            color: aliceblue;
            font-size: 17px;

            i{
                transition: all 0.6s ease;
                opacity: 1;
                margin-right: 20px;
                padding-right: 20px;
            }

            .about-hover{
                padding: 10px;
            }

            .about-hover:hover{
                padding: 10px;
            }
        }
    }
}