* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    list-style: none;
}

.nav-bar {
    background-color: #7fd2ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;

    .nav-link {
        display: flex;
        gap: 30px;
        list-style: none;
        margin: 10px;
        padding: 1px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: #bcbcbc;
    }

    button {
        border: none;
        background-color: #3e7bed;
        color: #fff;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;

        &:hover {
            background-color: #598ded;
            cursor: pointer;
        }
    }

}

.logo {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

section {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    padding: 2px;
}

.sobre {
    background-color: #70b7f6;
    padding: 5px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100vw;
    a{
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        color: #c1c1c1;
    }
}

.hobby ul,
.perfil ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;

    a {
        text-decoration: none;
        color: #0a6302;
    }
    a:hover{
        color: #109c03;
    }
}

.hobby ul,
.perfil ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.copy{
    text-align: center;
    margin: 5px;
    padding: 2px;
    font-weight: 600;
    font-size: 12px;
}