*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background-color: #aeaeae;
}

.nav-bar{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav-links{
        display: flex;
        list-style: none;
        gap: 30px;

        a{
            text-decoration: none;
            color: #000;
            font-weight: 700;
            font-size: 20px;
        }
    }
}

.sobre{
    background-color: #6585F0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;

    img{
        border-radius: 50%;
        width: 250px;
    }

    .text-sobre{
        min-width: 500px;
        font-size: 20px;
        font-weight: 700;
        font-style: italic;

    h2{
        font-size: 50px;
    }
    }

    .ling{
        color: #fff ;
    }

    .dev{
        a{
        color: #00fff2;
        text-decoration: none;
        }
    }
}

.programa{
    background-color: #fff;
    padding: 15px;

    table{
        margin: 0 auto;
        border: 1px solid black;
        border-radius: 20px;
    }

    th,td{
        border: 1px solid black;
        padding: 10px;
        border-radius: 20px;
    }

    ol,ul,li{
        margin: 10px;
        padding: 3px;
        text-align: justify;
    }
}

.local{
    background-color: #656565;
    text-align: center;
    padding: 5px;

    iframe{
        border-radius: 20px;
        margin: 10px;
    }

    .titulo{
        background-color: #fff;
        border-radius: 20px;
        padding: 3px;
    }
} 

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    background-color: #fff;

    input{
        border-radius: 20px;
        border: 1px solid black;
    }

    button{
        border: none;
        width: 100%;
        border-radius: 15px;
        background-color: #6585F0;
        color: #fff;
        font-weight: 700;   
    }
}

footer{
    text-align: center;
    margin: 5px;
    background-color: #fff;
    border-radius: 20px;
}